---
---

$font: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", "Noto Sans SC", sans-serif;
$monospace: "Source Code Pro", Courier, 'Courier New', monospace;
$highlight-color: #999;

@mixin min-screen($res) {
    @media screen and (min-width: $res) {
        @content;
    }
}

@mixin content-width($is_wide: false) {
    @include min-screen(320px) {
        width: 300px;
    }
    @include min-screen(375px) {
        width: 350px;
    }
    @include min-screen(414px) {
        width: 400px;
    }
    @include min-screen(660px) {
        width: 660px;
    }
    @if ($is_wide) {
        @include min-screen(990px) {
            width: 990px;
        }
        @include min-screen(1320px) {
            width: 1320px;
        }
    }
}

body {
    padding: 0;
    margin: 0;
    font: 300 1em/1.8 #{$font};
    color: #555;
    background-color: #FEFEFE;
    -webkit-font-smoothing: antialiased;
}

::selection {
    color: #FFF;
    background-color: #333;
}

.page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    .content, header {
        margin: 0 auto;
        @include content-width();
    }
}

.page-index {
    .content, header {
        @include content-width(true);
    }
}

.header {
    width: 100%;
    height: 2.5em;
    margin: 0 0 2.6em 0;
    background: #EFEFEF;

    header {
        display: flex;
        height: 100%;
        margin: 0 auto;
        align-items: center;

        h1 {
            flex: 1;
            padding: 0;
            margin: 0;
            font-size: 1em;
            font-weight: 100;
            text-shadow: 1px 1px rgba(255, 255, 255, 1);

            a {
                display: block;
                text-decoration: none;
                color: #999;
            }
        }

        nav {
            span {
                margin: .5em;
            }
            a {
                color: #ccc;
            }
        }
    }
}

ul.listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .listing-item {
        width: 100%;
        list-style-type:none;
        padding: 0;
        text-decoration: none;
        color: #555;

        h1 {
            padding: 1em 0 0 0;
            margin: 0;
            color: #463636;
            font-size: 1.1em;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
        time {
            display: block;
            padding: 0.5em 0;
            font-size: 0.9em;
            color: #999;
            text-align: center;
            text-transform: uppercase;
            color: #b7aeae;
        }
        .thumb {
            display: block;
            width: 100%;
            min-height: 200px;
            line-height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .thumb.letter {
            background: #999;
            color: #666;
            font-size: 120px;
            text-align: center;
            text-transform: uppercase;
        }
        .excerpt {
            margin: 0;
            padding: 0 0 2.5em 0;
            font-size: .88em;
        }
        @include min-screen(660px) {
            width: 310px;
            .thumb {
                height: 310px;
                line-height: 310px;
            }
        }
        @include min-screen(990px) {
            width: 300px;
            .thumb {
                height: 300px;
                line-height: 300px;
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    text-align: center;
    a {
        color: #333
    }
    span {
        color: #b7aeae;
    }
}

article {
    margin: 2em 0;

    a {
        color: #555;
        border-bottom: 1px solid $highlight-color;
        text-decoration: none;
    }
    img {
        max-width: 100%;
        border: 0;
    }
    blockquote {
        display: block;
        border-left: 1px solid $highlight-color;
        padding: 0 0 0 1em;
        margin: 1em 3em 1.2em 2em;
        position: relative;
        color: #999;
    }
    pre {
        display: block;
        border: 1px dotted #EEE;
        padding: 1em;
        font-size: .91em;
        font-weight: 400;
        line-height: 1.6;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        code {
            padding: 0;
        }
    }
    code {
        padding: 2px 5px;
        font-family: #{$monospace};
    }
    h1, h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 1.2em 0 0.6em 0;
        color: #000;
        line-height: 1.35;
        font-weight: 100;
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.4em;
    }
    ul, ol {
        padding: 0;
        margin: 0 0 1.2em 1.3em;
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }
    p {
        padding: 0;
        margin: 0 0 1.2em 0;
    }
    .title {
        a {
            color: #777;
        }
    }
    .meta {
        display: block;
        overflow: auto;
        margin: -0.5em 0 2.2em 0;
        font-size: .9em;
        .tags {
            color: #999999;
            padding: .25em;
        }
    }
    .relative {
        padding: 0;
        margin: 3em 0 2em 0;
        z-index: 1;
        overflow: hidden;
        text-align: center;
        position: relative;

        &:before,
        &:after {
            position: absolute;
            top: 51%;
            overflow: hidden;
            width: 49%;
            height: 2px;
            content: '\a0';
            background-color: #f0f0f0;
        }
        &:before {
            margin-left: -50%;
            text-align: right;
        }
        &:after {
            margin-left: 1%;
        }
        span {
            margin: 0 2em;
            color: #e9e9e9;
            font-size: 18px;

            a {
                font-size: 14px;
                color: #999999;
                border: 0;
            }
        }
    }
}

footer {
    display: block;
    color: #909090;
    font-size: .9em;
    text-align: center;
    margin: 1em auto;
    a {
        color: #cccccc;
        &:hover {
            color: #999999;
        }
    }
}
