---
layout: default
page_name: post
---

<article>
<section class="title">
<h2>{{ page.title }} </h2>
</section>
<section class="meta">
<time datetime="{{ page.date | date:"%Y-%m-%d" }}">
{{ page.date | date:"%Y-%m-%d" }}
</time>
{% if page.tags %}
<span class="tags">
{% for tag in page.tags %}
 #{{ tag }}
{% endfor %}
</span>
{% endif %}
</section>
<section class="post">
{{ content }}
</section>
<div class="relative">
<span>
{% if page.previous %}
<a href="{{ page.previous.url }}">◀</a>
{% else %}
●
{% endif %}
</span>
<span>
{% if page.next %}
<a href="{{ page.next.url }}">▶</a>
{% else %}
●
{% endif %}
</span>
</div>
</article>
